:root{

  --header-font-size: 3vh;
  --banner-height: 110vh;
  --banner-text-size: 7vh;
  --banner-image-radius: 20vh;
  --introduction-text-size:6vh;
  --blocks-text-size: 4.5vh;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ===============================HEADER==================================*/

header{
  width: 100vw;
  height: 7vh;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
}

.social-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social img{
  width: 6vw;
  max-width: 25px;
  margin: 0.2vw;
}

nav{
  flex: 1;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  font-size: var(--header-font-size);
  color: black;
  font-weight: bold;
  margin-right: 5vw;
}
.contact-btn a{
  font-size: var(--header-font-size);
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 1.7vh;
  border-width: 1.7vh 2vw;
  background-color: white !important;
}

nav ul li a:hover{
  color: gray;
  transition-duration: 0.5s; 
}

/* ===============================BANNER==================================*/

.banner{
  width: 100vw;
  height: var(--banner-height);
  background-color: #C3A377;
  border: 1px solid #C3A377;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8%;
}

.hero{
  padding-right: 10%;
}

.banner img{
  height: 80vh !important;
  border-radius: var(--banner-image-radius);
  border: 1vw solid white;
  border-width: 1.2vw 0.8vw;
}

.banner .col{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: left;
}

.col h2 {
  font-size: var(--banner-text-size);
  font-weight: bold;
  margin-bottom: 0;
  color: white;
}

.col h1 {
  font-size: var(--banner-text-size);
  font-weight: bold;
  margin-top: 1vh;
  padding-left: 8%;
  color: #FDC675;
}

/*----------------------------INTRODUCTION------------------------------------*/

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction img{
  width: 50vw;
  align-self: left;
}

.introduction-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  
}

.introduction-box h2 {
  font-size: var(--introduction-text-size);
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

/*-------------------------------------LINK BLOCKS-----------------------------------------*/
.page-blocks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.page-blocks a{
  text-decoration: none;
  color:  whitesmoke;
  font-weight: bold;
  font-size: var(--blocks-text-size);
}

.block{
  width: 25vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--banner-image-radius);
  background-color: #FDC675;
  border: 1.5px solid black;
}

.blogs{
  background-image: url(images/working-image.jpg);
  background-size: cover;
  background-position: center;
}

.projects{
  background-image: url(images/programming-block.webp);
  background-size: cover;
  background-position: center;
}

.gallery{
  background-image: url(images/IMG_2010.JPG);
  background-size: cover;
  background-position: center;
}


.block:hover{
  transform: scale(1.1) translateY(-7vh);
  transition-duration: 0.5s;
}
/*------------------------------FOOTER----------------------------------*/

footer {
  width: 100vw;
  border-top: 2px solid gray;
  background-color: #FDC675;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30vh;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

footer .social-container{
  grid-column: 1 / 1;
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  flex-direction: column;
}

footer .social-container p{
  margin-top: 0;
  margin-bottom: 0;
}

footer .logo{
  grid-column: 2 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-container .socials{
  margin-bottom: 0;
  position: relative;
  left: -0.2vw;
}

footer .logo h2{
  font-size: 4vh;
  font-weight: bold;
  color: white !important;
}

/*-------------------------------MEDIAS ARE DOWN HERE---------------------------------*/

@media screen and (max-width: 600px) {
  :root{
    --header-font-size: 1.5vh;
    --banner-height: 100vh;
    --banner-text-size: 4.6vh;
    --banner-image-radius: 10vh;
    --introduction-text-size:1.5vh;
  }
  .banner{
    flex-direction: column;
  }

  .banner h2{
    text-align: center;
  }
  .social img {
    width: 5vw;
    margin: 0.1vw;
    max-width: 25px;
  }

  .page-blocks{
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .block{
    margin-bottom: 20px;
    min-width: 50vw;
    max-height: 35vh;
  }

  .col h1{
    font-size: var(--banner-text-size);
    margin-top: 1vh;
    padding-left: 0;
    text-align: center;
  }

  .hero{
    padding-right: 0;
  }
  .banner img {
    height: 50vh!important;
    border-radius: var(--banner-image-radius);
    border: 1vw solid white;
    border-width: 1.2vw 0.8vw;
  }

  footer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  footer .logo {
    grid-area: 1 / 1;
  }
  footer .social-container{
    grid-area: 2 / 1;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px){
  
  .page-blocks{
    flex-direction: column;
    align-items: center;
  }

  .block{
    margin-bottom: 20px;
    min-width: 50vw;
  }

}



@media  screen and (min-width: 768px) and (max-width: 991px) {
  :root{
    --header-font-size: 3vh;
    --banner-height: 100vh;
    --banner-text-size: 4.6vh;
    --banner-image-radius: 10vh;
    --introduction-text-size:4vh;
  }

  
  .page-blocks{
    flex-direction: column;
    align-items: center;
  }

  .block{
    margin-bottom: 20px;
    min-width: 50vw;
  }


  .social img{
    width: 3vw;
    max-width: 35px;
    margin: 0.1vw;
  }
}

@media  screen and (min-width >= 992px) {
  :root{
    --header-font-size: 3.5vh;
    --banner-height: 100vh;
    --banner-text-size: 7vh;
    --banner-image-radius: 12vh;
    --introduction-text-size:4.5vh;
  }

  .social img{
    width: 2.5vw;
    max-width: 100px;
    margin: 0.1vw;
  }
  
 .page-blocks{
    flex-direction: row;
    align-items: center;
 }
}

